@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: whitesmoke;

}

#navegacao{
    display: flex;
    justify-content: end;
    padding: 50px;
}

ul li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #1D98FB;
    font-size: 20px;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 400px;
}

.container-titulo{
    display: flex;
    margin-bottom: 10px;
}

h1{
    margin-left: 15px;
    font-size: 48px;
}

h2{
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



input{
    display: flex;
    border: solid gray 1px;
    margin-bottom: 40px;
    width: 530px;
    height: 50px;
    border-radius: 25px;
    background-color: #afbac45d;
}

input::placeholder{
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
    color: black;
    
}


button{
    width: 182px;
    height: 50px;
    background-color: #42A5F5;
    color: white;
    border-radius: 25px;
    border: none;
    margin-left: 30%;
    cursor: pointer;
}

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

table{
    margin-top: 30px;
    width: 100%;
    text-align: justify;
    background-color: #DDEAF5;
    margin-bottom: 300px;
    
}

th, td{
    border: 0.25px solid black;
    padding: 10px 150px;
    text-align: left;
}

td{
    font-weight: 400;
}

input{
    padding:15px;
}






